body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.degrade{
    background: linear-gradient(160deg,#000080, #00FFFF);
    height: 100vh; /*('V'ertical 'H'orizontal) de cima até embaixo, de um lado ate o outro*/
    display: flex;
    justify-content: center;
    align-items: center;


}
.container{
    max-width: 400px;
    max-height: 700px;
    margin: 0 auto;
    background-color: #FFFFF0;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
   
}
.outer-container {
    background: #0000CD;
    padding: 20px;
    overflow: hidden; /* garante que a degrade nao apareça*/
    border-radius: 10px;
    align-items: center;
    
    
}
.divBotao {
    text-align: center;
    
}
#resultado-container {
margin-top: 1px;
background-color: #0000CD;
color: white;
text-align: center;
padding: 1px;
border-radius: 10px;
font-size: small;
}
button{
background-color: #00FFFF;
color: black;
width: 100px;
height: 30px;
font-size: 13px;
font-weight: bold;
margin-bottom: -15px;

}
button:hover{
background-color: #FFFFE0;
}
label{
    display: block; /*vai ficar parada*/
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
}
.social-icons {  /*"link icones" https://www.w3schools.com/icons/default.asp */
    display: flex; /*aumenta a pagina e diminui e ele continua o mesmo tamanho*/
    justify-content: space-around; /* mantem o mesmo espaço de um para outro.. sempre na mesma proporção*/
    color: white;
}
.social-icons a {
    color: #00FFFF;
    font-size: 20px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #FFFFF0;
}
footer{
    background-color: #0000CD;
    color: white;
    margin-bottom: -15px;
    margin-left: -10px;
    margin-right: -15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-size: small;
}
a{
    
    color: #00FFFF;
}
a:hover{
    background-color: #FFFF00;
    color: black;
}
